﻿@model G5_ProgramacionAvanzada.Entities.HotelesEnt
@{
    ViewBag.Title = "AnadirHotel";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Banner Area -->
<section id="common_banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="common_bannner_text">
                    <h2>Hoteles Disponibles</h2>
                    <ul>
                        <li><a href="@Url.Action("Index","Login")">Index</a></li>
                        <li><span><i class="fas fa-circle"></i></span> Hoteles</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Vendor Form Area -->
<section id="vendor_form_area" class="section_padding_bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="vendor_form_heading">
                    <div class="section_heading_center">
                        <br />
                        <br />
                        <br />
                        <h2>Añade un hotel disponible</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="vendor_form">
                    <div class="tour_booking_form_box">
                        @using (Html.BeginForm("AnadirHotel", "Hoteles", FormMethod.Post, new { @class = "pt-3" }))
                        {
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.nombre, new { @class = "form-control form-control-lg", @placeholder = "Nombre", @type = "text" })
                                        <br />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.descripcion, new { @class = "form-control form-control-lg", @placeholder = "Descripción", @type = "text" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.direccion, new { @class = "form-control form-control-lg", @placeholder = "Dirección", @type = "text" })
                                        <br />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.precio, new { @class = "form-control form-control-lg", @placeholder = "Precio por noche", @type = "text" })

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.IdAmenidades, ViewBag.Amenidades as List<SelectListItem>, new { @class = "form-control form-select bg_input", @type = "number", @required = "", @placeholder = "Amenidades" })
                                        <br />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.IdPais, ViewBag.Paises as List<SelectListItem>, new { @class = "form-control form-select bg_input", @type = "number", @required = "", @placeholder = "País" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.imagen, new { @class = "form-control form-control-lg", @placeholder = "Imagen del Hotel", @type = "text" })
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <input type="submit" class="btn btn_theme btn_md btn-block font-weight-medium auth-form-btn" value="Añadir Hotel">
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>