<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home - Andtourtravel </title>
    <link rel="stylesheet" href="~/Templates/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Templates/css/animate.min.css" />
    <link rel="stylesheet" href="~/Templates/css/fontawesome.all.min.css" />
    <link rel="stylesheet" href="~/Templates/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Templates/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/Templates/css/navber.css" />
    <link rel="stylesheet" href="~/Templates/css/meanmenu.css" />
    <link rel="stylesheet" href="~/Templates/css/style.css" />
    <link rel="stylesheet" href="~/Templates/css/responsive.css" />
    <link rel="icon" type="image/png" href="~/Templates/img/favicon.png">
</head>

<body>
    <!-- Header Area -->
    <header class="main_header_arae">
        <div class="topbar-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <ul class="topbar-list">
                            <li>
                                <a href="https://www.facebook.com/sistemasfidelitas/"><i class="fab fa-facebook"></i></a>
                                <a href="https://twitter.com/ufidelitas_cr"><i class="fab fa-twitter-square"></i></a>
                                <a href="https://www.instagram.com/ufidelitas/"><i class="fab fa-instagram"></i></a>
                                <a href="https://cr.linkedin.com/in/francisco-mata-gomez-641a40239"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <li><a href=""><span>+506 22068600 </span></a></li>
                            <li><a href="#!"><span>estudiantes@ufidelitas.ac.cr</span></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul class="topbar-others-options">
                            <li>
                                <a href="@Url.Action("IniciarSesion","Login")">
                                    <i class="ti-home text-primary"></i>
                                    Iniciar Sesión
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("RegistrarCuenta","Login")">
                                    <i class="ti-home text-primary"></i>
                                    Registrarse
                                </a>
                            </li>
                            <li>
                                <div class="dropdown language-option">
                                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <span class="lang-name"></span>
                                    </button>
                                    <div class="dropdown-menu language-dropdown-menu">
                                        <a class="dropdown-item" href="#">Inglés</a>
                                        <a class="dropdown-item" href="#">Español</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown language-option">
                                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <span class="lang-name"></span>
                                    </button>
                                    <div class="dropdown-menu language-dropdown-menu">
                                        <a class="dropdown-item" href="#">USD</a>
                                        <a class="dropdown-item" href="#">CRC</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Bar -->
        <div class="navbar-area">
            <div class="main-responsive-nav">
                <div class="container">
                    <div class="main-responsive-menu">
                        <div class="logo">
                            <a href="index.html">
                                <img src="~/Templates/img/logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-navbar">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img src="~/Templates/img/logo.png" alt="logo">
                        </a>
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Login")" class="nav-link active">
                                        Home
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Categorías
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Tours
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Vuelos
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="flight-search-result.html" class="nav-link">Vuelos</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="flight-booking-submission.html" class="nav-link">Reserva tu Vuelo</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("ConsultaHotel","Hoteles")" class="nav-link">
                                                Hoteles Disponibles
                                            </a>
                                            @if (Session["NombreUsuario"] != null && (int)Session["NombreUsuario"] != 1)
                                            {
                                                <ul class="dropdown-menu">
                                                    <li class="nav-item">
                                                        <a href="@Url.Action("ConsultaHotel", "Hoteles")" class="nav-link active">Hoteles Disponibles</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="@Url.Action("AnadirHotel", "Hoteles")" class="nav-link active">Añadir Hotel</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="@Url.Action("EliminarHotel", "Hoteles")" class="nav-link">Eliminar Hotel</a>
                                                    </li>
                                                </ul>
                                            }
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Crucero
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Páginas informativas
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="@Url.Action("SobreNosotros", "PaginasInfo")" class="nav-link">Sobre Nosotros</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link">Reseñas</a>
                                        </li>
                                        <li class="nav-item">
                                           
                                            <a href="@Url.Action("PoliticasPrivacidad", "PaginasInfo")" class="nav-link"> Politicas de privacidad</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Contacto <i class="fas fa-angle-down"></i></a>
                                    <ul class="dropdown-menu">
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()

    <!-- Footer  -->
    <footer id="footer_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer_heading_area">
                        <h5>¿Necesitas ayuda?</h5>
                    </div>
                    <div class="footer_first_area">
                        <div class="footer_inquery_area">
                            <h5>Llame a nuestro call center por si ocupa ayuda</h5>
                            <h3> <a href="tel:+506 22068600">+506 22068600</a></h3>
                        </div>
                        <div class="footer_inquery_area">
                            <h5>Síguenos en</h5>
                            <ul class="social_icon_footer">
                                <li>
                                    <a href="https://www.facebook.com/sistemasfidelitas/"><i class="fab fa-facebook"></i></a>
                                    <a href="https://twitter.com/ufidelitas_cr"><i class="fab fa-twitter-square"></i></a>
                                    <a href="https://www.instagram.com/ufidelitas/"><i class="fab fa-instagram"></i></a>
                                    <a href="https://cr.linkedin.com/in/francisco-mata-gomez-641a40239"><i class="fab fa-linkedin"></i></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <div class="copyright_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="co-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="copyright_left">
                        <p>Copyright © 2022 All Rights Reserved</p>
                    </div>
                </div>
                <div class="co-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="copyright_right">
                        <img src="~/Templates/img/common/cards.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="go-top">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-up"></i>
    </div>

    <script src="~/Templates/js/jquery-3.6.0.min.js"></script>
    <script src="~/Templates/js/bootstrap.bundle.js"></script>
    <script src="~/Templates/js/jquery.meanmenu.js"></script>
    <script src="~/Templates/js/owl.carousel.min.js"></script>
    <script src="~/Templates/js/wow.min.js"></script>
    <script src="~/Templates/js/custom.js"></script>
    <script src="~/Templates/js/add-form.js"></script>
    <script src="~/Templates/js/form-dropdown.js"></script>
</body>
</html>
